#cv {
  background: lighten($black, 10%);
  padding-top: 50px;
  overflow: hidden;

  h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: $white;
    margin-bottom: 12px;
    line-height: 2;  

    span {
      border-bottom:solid;
      border-bottom-width: 1px;
      border-bottom-color: $white;
    }
  }

  h3 a {
    color: $white;

    &:hover {
      color: $primary-color;
    }
  }
  
  p {
    line-height: 30px;
    color: $medium-gray;

    .info {
      width: 100%;

      span.title {
        width: 195px;
        display: inline-block;
      }
    }
  } 

  ul {
    line-height: 20px;

    li {
      margin-bottom:5px;
    }
  }

  .icon {
    color: $white;
    height: 12px;
    width: 12px;
    margin-right: 5px;
  }

  .btn {
    margin-right: 10px;
  }

}
