// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  padding-bottom:48px;
  color: $black;
  font-size: 14px;
  text-align: center;
  position: relative; 
  background-color: $black;
  a {
    color: $dark-gray;
    &:visited {
      color: $dark-gray;
    }
    &:hover, &:focus {
      color: $orange;
    }
  }
  .copyright {
    font-size: 17px;
    margin: 0;
    padding: 0;
    color: $dark-gray;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      line-height: 24px;
    }
  }
}

/* copyright */

.ie footer .copyright li {
  display: inline;
}

footer {
  .copyright li {
    &:before {
      content: "\2022";
      padding-left: 10px;
      padding-right: 10px;
      color: $orange;
    }
    &:first-child:before {
      display: none;
    }
  }
  .social {
    margin: 18px 0 30px 0;
    padding: 0;
    font-size: 30px;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      margin-left: 42px;
      color: $orange;
      &:first-child {
        margin-left: 0;
      }

      a {
        color: $dark-gray;
        
        .social-icon {
          color: $white;
          height: 30px;
          width: 30px;
          
          &:visited {
            color: $dark-gray;
          }

          &:hover, &:focus {
            color: $orange;
          }
        }
      }
    }
  }
  
}

/* social links */

/* Go To Top Button */

#go-top {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -30px;
  font-size: 42px;
  a {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 50px;
    height: 50px;    
    background-color: $black;    
    transition: all 0.2s ease-in-out;
    color: $white;
    line-height: 40px;
    border-radius: 100%;
   
    .icon {
      color: $white;
      height: 30px;
      width: 30px;

      &:hover {
        color: $orange;
      }
    }
  }
}