@media all and (max-width: 767px) {
  .navbar {
    z-index: 100;
    position: fixed;
  }

  nav { 
    .navbar-toggler {
      background: lighten($black, 10%);
      border-color: $medium-gray;
      z-index: 200;
    }

    .navbar-nav {
      background: lighten($black, 10%);
      display: inline-flex;
    }
  }
  
  .bg-dark {
    background: $black url(/static/images/header-background.gif) repeat top center !important;
  }

  /* Header Styles
  -------------------------------------------------------------------- */

  #home {
    .banner {
      //padding-bottom: 12px;
      //padding-top: 6px;
      vertical-align: middle;

      .banner-text {
        h3 {
          font-size: 16px;
          line-height:  1.9em;
          font-family: $header-font-family;
          width: 85%;
        }
        hr {
          width: 80%;
          margin: 18px auto;
        }
      }
      .social {
        margin: 18px 0 24px 0;
        font-size: 24px;
        line-height: 36px;
        li {
          margin: 0 10px;
        }
      }
    }

    .scrolldown a {
      bottom: 50px;
    }
   
  }
  
  /* Footer Styles
  -------------------------------------------------------------------- */
  footer {
    
    .social {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      li {
        position: relative;
        display: block;
        overflow: hidden;
      }
      
    }

  }
  
}