#recommendations {
  background: lighten($black, 5%);
  position: relative;
  min-height: 200px;
  width: 100%;
  overflow: hidden;

  .text-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: $header-color;
    margin-bottom: 12px;

    span {
      display: none;
    }
  
    padding-top: 9px; 
      
  }

  .recommendation-icon {
    padding-right: 10px;
    height: 72px;
    width: 72px;
  }

  p {
    line-height: 30px;
    color: $medium-gray;
  } 

  blockquote {
    margin: 0 0px 30px 0px;
    padding-left: 0;
    position: relative;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
  }
  
  blockquote:before { content: none; }
  blockquote p {
    font-family: 'librebaskerville-italic', serif;
    padding: 0;
    font-size: 16px;
    color: $white
  }
  blockquote cite {
    display: block;
    font-size: 12px;
    font-style: normal;
    line-height: 18px;
    color: $white;
  }
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a,
  blockquote cite a:visited { color: #8B9798; border: none }

  // carousel
  .carousel {
    height: auto !important;
  }

  .carousel slide {
    max-height: 100% !important;
  }

  .carousel-indicators {
    position: initial !important;

    .active {
      background-color: $primary-color;
    }

    li {
      height: 0.8rem;
      width: 0.8rem;
      margin: 0.1rem;
      background-color: $medium-gray;
      border-radius: 50%;
    }
  }

  // .carousel-control-prev,
  // .carousel-control-next {
  //   width: 1rem;
  //   height: 1rem;
  //   margin: 0.1rem;
  //   background-color: $medium-gray;
  //   border-radius: 50%;
  // }

}
